<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Backgrounds</key>
	<array>
		<string>NavyBlue</string>
		<string>orangeyellow</string>
		<string>xmas-bg</string>
	</array>
	<key>Buttons</key>
	<array>
		<string>bubble-green-dark</string>
		<string>bubble-green-md</string>
		<string>bubble-red-md</string>
		<string>bubble-yellow-md</string>
		<string>normal_stage_icon</string>
		<string>selected_stage_icon</string>
		<string>win_stage_icon</string>
	</array>
	<key>Colors</key>
	<array>
		<string>blackColor</string>
		<string>darkGrayColor</string>
		<string>lightGrayColor</string>
		<string>whiteColor</string>
		<string>grayColor</string>
		<string>redColor</string>
		<string>greenColor</string>
		<string>blueColor</string>
		<string>cyanColor</string>
		<string>yellowColor</string>
		<string>magentaColor</string>
		<string>orangeColor</string>
		<string>purpleColor</string>
		<string>brownColor</string>
	</array>
	<key>Themes</key>
	<array>
		<dict>
			<key>themeName</key>
			<string>Default</string>
			<key>mainBg</key>
			<string>bg.jpg</string>
			<key>initialButtonBg</key>
			<string>normal_stage_icon</string>
			<key>selectedButtonBg</key>
			<string>selected_stage_icon</string>
			<key>bingoButtonBg</key>
			<string>win_stage_icon</string>
			<key>initialButtonTitleColor</key>
			<dict>
				<key>red</key>
				<integer>255</integer>
				<key>green</key>
				<integer>255</integer>
				<key>blue</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>selectedButtonTitleColor</key>
			<dict>
				<key>red</key>
				<integer>255</integer>
				<key>green</key>
				<integer>255</integer>
				<key>blue</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>bingoButtonTitleColor</key>
			<dict>
				<key>red</key>
				<integer>255</integer>
				<key>green</key>
				<integer>255</integer>
				<key>blue</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>gameFontTitleColor</key>
			<dict>
				<key>red</key>
				<integer>255</integer>
				<key>green</key>
				<integer>255</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>bingoFontTitleColor</key>
			<dict>
				<key>red</key>
				<integer>118</integer>
				<key>green</key>
				<integer>238</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>themeName</key>
			<string>Plain</string>
			<key>mainBg</key>
			<dict>
				<key>red</key>
				<integer>238</integer>
				<key>green</key>
				<integer>224</integer>
				<key>blue</key>
				<integer>229</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>initialButtonBg</key>
			<dict>
				<key>red</key>
				<integer>72</integer>
				<key>green</key>
				<integer>118</integer>
				<key>blue</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>selectedButtonBg</key>
			<dict>
				<key>red</key>
				<integer>205</integer>
				<key>green</key>
				<integer>205</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>bingoButtonBg</key>
			<dict>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>139</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>initialButtonTitleColor</key>
			<dict>
				<key>red</key>
				<integer>238</integer>
				<key>green</key>
				<integer>238</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>selectedButtonTitleColor</key>
			<dict>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>139</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>bingoButtonTitleColor</key>
			<dict>
				<key>red</key>
				<integer>238</integer>
				<key>green</key>
				<integer>238</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>gameFontTitleColor</key>
			<dict>
				<key>red</key>
				<integer>205</integer>
				<key>green</key>
				<integer>105</integer>
				<key>blue</key>
				<integer>201</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>bingoFontTitleColor</key>
			<dict>
				<key>red</key>
				<integer>220</integer>
				<key>green</key>
				<integer>20</integer>
				<key>blue</key>
				<integer>60</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>themeName</key>
			<string>X-mas</string>
			<key>mainBg</key>
			<string>xmas-bg</string>
			<key>initialButtonBg</key>
			<string>bubble-red-md</string>
			<key>selectedButtonBg</key>
			<string>bubble-yellow-md</string>
			<key>bingoButtonBg</key>
			<string>bubble-green-dark</string>
			<key>initialButtonTitleColor</key>
			<dict>
				<key>red</key>
				<integer>255</integer>
				<key>green</key>
				<integer>255</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>selectedButtonTitleColor</key>
			<dict>
				<key>red</key>
				<integer>220</integer>
				<key>green</key>
				<integer>20</integer>
				<key>blue</key>
				<integer>60</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>bingoButtonTitleColor</key>
			<dict>
				<key>red</key>
				<integer>255</integer>
				<key>green</key>
				<integer>255</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>gameFontTitleColor</key>
			<dict>
				<key>red</key>
				<integer>255</integer>
				<key>green</key>
				<integer>255</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>bingoFontTitleColor</key>
			<dict>
				<key>red</key>
				<integer>118</integer>
				<key>green</key>
				<integer>238</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
